body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0cc;
}

header {
    background-color: #e68d07de;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a:hover{
    color: #1E90FF;
    border-bottom: 1px solid #1E90FF;
}

main {
    padding: 20px;
}

#banner {
    text-align: center;
    padding: 100px 0;
    background-image: url('banner.jpg'); /* Remplacez 'banner.jpg' par le chemin de votre image de bannière */
    background-size: cover;
    background-position: center;
    color: #fff;
}

#banner h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

#banner p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.btn {
    display: inline-block;
    background-color: #FFD700;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FFA500;
}

footer {
    background-color: #1E90FF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}


.login{
    background-color: #1E90FF;
    border: 2px #1E90FF solid;
    padding: 5px 10px;
    border: none;
}
.login:hover{
    background-color: #e68d07de;
    color: #fff;
    border: 1px #fff solid;
}
.login i{
    padding-left: 5px;
}

.active{
    color: #1E90FF;
    border-bottom: 1px solid #1E90FF;
}